docker.enabled = true

profiles { // Profiles are named sets of configuration settings.
          // test profile specifies the input files and parameters used when testing the pipeline.
    test {
         params.input = "${projectDir}/data/samplesheet.csv" // Path to the samplesheet containing information about the input samples.
         params.reference = "${projectDir}/data/ref/ref.fasta"   // Path to the reference genome FASTA file
         params.reference_index = "${projectDir}/data/ref/ref.fasta.fai" // Path to the FASTA index file to help software quickly find specific regions in the reference FASTA.
         params.reference_dict = "${projectDir}/data/ref/ref.dict" // Path to the GATK sequence dictionary. It contains information about the reference genome's chromosomes/contigs, such as their names and lengths.
         params.intervals = "${projectDir}/data/ref/intervals.bed" // Path to the BED file specifying which genomic regions should be analysed, rather than analysing the entire reference genome.
         params.cohort_name = "family_trio"  // Name given to the group of samples being jointly analysed.
    }
}
